/* *****************************font******************************* */
@font-face {
    font-family: myFont1;
    src: url(../fonts/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(../fonts/Cantarell-Regular.ttf);
}
@font-face {
    font-family: myFont3;
    src: url(../fonts/BEYNO.ttf);
}
@font-face {
    font-family: myFont4;
    src: url(../fonts/WakandaForever-Regular.ttf);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../Illustr Logo/All pages/arrière_plan.png");
   
    
}
/* *******************************HEADER******************************************/

.slide {
    animation: slide-in 2s ease-in-out; /* Durée et effet de transition */
  }
  
  .slide * {
    opacity: 0; /* Commencez avec une opacité de 0 pour l'effet de fade in */
    animation: fade-in 2s ease-in-out forwards; /* Durée et effet de transition pour le fade in */
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%); /* Début de la translation */
    }
    100% {
      transform: translateX(0); /* Fin de la translation */
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; /* Début de l'opacité à 0 */
    }
    100% {
      opacity: 1; /* Fin de l'opacité à 1 */
    }
  }
header .head_icon{
    left: 5%;
    width: 5px;
    height: 20px;
    padding-top: 3%;
    padding-left: 5%;
    display: flex;   
}

header .head_icon:hover{
    -webkit-filter:  sepia(1000%) saturate(2000%) hue-rotate(270deg);
    filter: sepia(1000%) saturate(2000%) hue-rotate(270deg);
}
ul li:not(ul.foot li){
    float: right;
    list-style-type: none;
    position: relative;
    right: 5%;
    margin-left: 5%;
    font-family: myFont3;
    top: -20px;

    
}
li a:not(li a.active){
    color: white;
    text-decoration: none;
}

li:hover{
    color: white;
    text-decoration: underline;
}
li a.active{
    color: rgb(124, 120, 208);
}
header div.head_item{
    background-image: url('../Illustr Logo/Wakanda/Pantherwakanda1.png');
    background-size: cover;
   margin-left: -10%;
    padding: 20%;

}
header .head_item h1{
   font-family: myFont1;
   font-size: 36px;
   font-weight: lighter;
   color: #9E91B7;
}
header .head_item h2{
    font-family: myFont4;
    font-size: 25px;
    color: #9E91B7;
}
header .head_item p{
    font-family: myFont2;
    font-size: 13px;
    color: white;
  
}
    
main h2{
    font-family: myFont3;
    font-size: 36px;
    color: #9E91B7;
    position: relative;
    z-index: 100;
}

main div.content p, .part2 p{
    font-size: 11px;
    font-family: myFont2;
    color: white;
    padding-top: 10%;
    position: relative;
    width: 150%;
    
   
}
main p:not(div.content p, .part2 p){
    font-size: 11px;
    font-family: myFont2;
    color: white;
    padding-top: 10%;
}

main div.content p{  
    position: relative;
    top: 13%;
  
}

main .content:not(article){
    position: relative;
    left: 25%;
    width: 100%;
    top: 80px;
}
.content img.image1{
    position: relative;
    top: -150px;
    left: -25%;
    
}
div.column img.img1{
    position: relative;
    top: -10px;
   
    
}

hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(45deg, #0f0741, #3e364a);
    position:relative;
    top:-150px;
    
}
article h2{
    font-family: myFont4;
    font-size: 22px;
    color: #9E91B7;
    position: relative;
    word-spacing: 12px;
    padding-left: 5%;
    letter-spacing: 5px;
    width: 150%;
}
section article.part1 p{
    padding-left: 5%;
    position: relative;
    z-index: 100;

    letter-spacing: 2px;
    width: 100%;

}
section article.part1{
    position: relative;
    top: 50px;

    
}
article span{
    font-family: myFont4;
}
article form input#reponse{
    width: 65%;
    padding: 2% 2% 2% 3%;
    border: 1px solid #F2CEF2;
    color: #F2CEF2;
    border-radius: 20px;
    background-color: transparent;
    margin-top: 10px;
    
}
article form label{
    font-size: 13px;
    font-family: myFont2;
    color: white;
    
}
article form {
    position: relative;
    top: 150px;
    left: 10%;

    
}
article form input[type=submit]{
    color: black;
    background-color: #F2CEF2;
    border-radius: 18px;   
    border: none;
    padding: 2% 3% 2% 3%;
    font-family: myFont2;
    font-size: 13px;
    margin: 5% 5% 5% 28%;
    
}
article form input[type=submit]:hover{
    box-shadow: 0px 0px 20px #F2CEF2;
    
}
article.part2{
    text-align: center;
    position: relative;
    top: 200px;
    left: 2%;
    
    
} 
article.part2 p{
    position: relative;
    top: -20px;
    left: -25%;
    
    
} 

article img.image2{
    position: relative;
    top: -250px;
    
}
.row{
    display: flex;
}
.column{
    flex: 1;
    flex-wrap: 1 1fr;
}



/* ******************************footer*************************************** */
footer{
    background-image: url('../Illustr Logo/All pages/back_footer.png');
    height: 100vh;
    top: 155px;
    width: 120%;
    position: relative;
    
}
div.image{
   margin-left: 5%;
  
}
div.image:hover .img2{
    transform: scale(1.2) translate(5%);
    
 }
img.agrandir:hover {
    transform: scale(1.2) translate(5%);

}
img.agrandir{
    transition: transform .6s;
}
div.image .img1{
    margin-top: 10%;
    position: relative;
    top: 50px;
 }
 
 
div.image .img2{
    position: relative;
    top: -80px;
    left: -200px;
    transition: transform .6s;
    
 }
 div.image .img2:hover{
    -webkit-filter: sepia(1000%) saturate(2000%) hue-rotate(270deg);
    filter: sepia(100%) saturate(2000%) hue-rotate(270deg);
}
 div.page,div.reseaux{
    float: right;
 }
 div.page{
    margin-top: -25%;
   position: relative;
   left: -60%;
    color: white;
    font-family: myFont2;
    font-size: 13px;
    line-height: 30px;
   
    
 }
 div.page a{
    color: white;
    font-family: myFont2;
   text-decoration: none;
 }
 div.page a:hover{
   text-decoration: underline;
 }
 div.page h3{
    letter-spacing: 8px;
    font-size: 16px;
 } 
div.reseaux{
    margin-top: -25%;
    color: white;
    font-family: myFont2;
    letter-spacing: 10px;
    position: relative;
    left: -20%;
   
 }
 div.reseaux img.res{
    margin-left: 5%; 
    transition: transform .6s;
 }
 div.reseaux img.res:hover{
    transform: scale(1.2);

 }
 div.copyright{
    margin-left: 40%;
    color: white;
    font-family: myFont2;
    font-size: 14px;
 }
 div.copyright li{
    float: left;
    margin-left: 5%;
    position: relative;
    left: 1%;
   
 }
 ul.foot li:hover{
    text-decoration: none;
 }
 div.copyright p{
    position: relative;
    top: 35px;
    left: -20%;
 }
